body {
    background-color: #fafafa;
    margin: 0;
}
nav {
    background-color: #fff;
    height: 2cm;
    line-height: 2cm;
    padding: 0 4cm;
    border-bottom: 0.1px solid beige;
}
.logo{
    text-decoration: none;
    
}
.logo>img{
    vertical-align: middle;
}
img {
    max-width: 160px;
    max-height: 60px;
}
.search {
    background: #f2f2f2;
    margin-left: 4.5cm;
    height: 0.8cm;
    width: 6cm;
    border: 1px solid #dbdbdb;
    text-align: left;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
}
.search::placeholder {
    text-align: center;
    color: #dbdbdb;
}
.nav-links {
    margin-left: 5cm;

}
.nav-links>a {
    margin-left: 0.6cm;
}
.nav-links i {
    transform: scale(1.4);
    color: black;
    vertical-align: middle;
    fill: #262626;
}
.container {
    height: 5;
    padding:  0% 20%;
}
.bio {    display: grid;
    grid-template-columns: 15fr 9.8cm;
    height: 4cm;
    padding: 7%;
    border-bottom: 0.5px solid #dbdbdb;
}
.profile-photo {
    width: 10cm;
    height: 10cm;
    border-radius: 50%;
    text-align: center;
}
img {
    max-height: 180px;
    max-width: 180px;
}
.profile-photo>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;

}
.profile-info .username {
    font-size: 28px;
    color: #545454;
}

.profile-info button {
    color: #262626;
    font-size: 18px;
    width: 4cm;
    height: 1cm;
    border: unset;
    cursor: pointer;
}

#addPhotoInput {
    display: none;
}

.add-photo {
    transform: scale(2);
    position: absolute;
    bottom: 6.5cm;
    right: 22cm;
    cursor: pointer;
}

.post .text {
    font-size: 20px;
    line-height: 0cm;
    margin-left: 5cm;
    color: #262626;
    padding: 5px 10px 0px;
    text-transform: uppercase;

}

.gallery-nav {
    height: 2cm;
}

.gallery {
    display: grid;
    grid-template-columns: 0.2fr 0.2fr 0.2fr;
    grid-template-rows: 0.2fr 0.2fr 0.2fr;
    margin-bottom: 2cm;
}
.item {
    height: 5cm;
    width: 5cm;
    font-size: 14px;
    line-height: 18px;
}
 
.item>img {
    height: 100%;
    width: 100%;
}

.item>img:hover {
    opacity: 0.7;
    
}

#addImageInput {
    display: none;
}

.footer {
    background: #fff;
    color: #fff;
    display: grid;
}

.footer div {
    text-align: center;
}
.code1 a {
    margin-left: 0.6cm;
    color: #646363;
}
